body
{
  background-color: #D7C49EFF;
  font-family: 'Gemunu Libre', sans-serif;
  color: rgb(34, 11, 54);
  text-shadow: rgb(240, 204, 157);
}
h2, .people
{
  font-variant: small-caps;
  font-size: 25px;
  font-weight: bold;
}
p
{
  font-size: 25px;
}
button
{
  font-style: oblique;
  font-weight: bolder;
  background-color: #755139FF;
}





















































































































































